#!/usr/bin/env bash

# Make vim the default editor.
export EDITOR='vim';

# Make Python use UTF-8 encoding for output to stdin, stdout, and stderr.
export PYTHONIOENCODING='UTF-8';

# Increase Bash history size.
export HISTSIZE='1000000';
export HISTFILESIZE="${HISTSIZE}";
# Omit duplicates and commands that begin with a space from history.
export HISTCONTROL='erasedups:ignoreboth';
# Don't record some commands
export HISTIGNORE="&:[ ]*:exit:ls:bg:fg:history:clear:cd:pwd"
# Save and reload the history after each command finishes
export PROMPT_COMMAND="${PROMPT_COMMAND:+$PROMPT_COMMAND$'\n'}history -a; history -c; history -r"

# Prefer US English and use UTF-8.
export LANG='en_US.UTF-8';
export LC_ALL='en_US.UTF-8';

# Highlight section titles in manual pages.
export LESS_TERMCAP_md="${yellow}";

# Don’t clear the screen after quitting a manual page.
export MANPAGER='less -X';

# SDKMAN
export SDKMAN_DIR="$HOME/.sdkman";
[[ -s "${SDKMAN_DIR}/bin/sdkman-init.sh" ]] && source "${SDKMAN_DIR}/bin/sdkman-init.sh"

export GOPATH=$HOME/go
export PATH=$PATH:/usr/local/opt/coreutils/libexec/gnubin
export PATH=$PATH:${GOPATH}/bin

# Oracle
export CGO_CFLAGS=-I/Users/ecampolo/oracle/instantclient_18_1/sdk/include
export CGO_LDFLAGS=-L/Users/ecampolo/oracle/instantclient_18_1
export DYLD_LIBRARY_PATH=/Users/ecampolo/oracle/instantclient_18_1:$DYLD_LIBRARY_PATH
