[apply]
    # Detect whitespace errors when applying a patch
	whitespace = fix
[branch]
	# Show most recently changed branches first.
	sort = -committerdate
[core]
	# Use custom `.gitignore` and `.gitattributes`
	excludesfile = ~/.gitignore
	attributesfile = ~/.gitattributes

	# Treat all kinds of trailing whitespace as an error.
	whitespace = trailing-space

	# Make `git rebase` safer on macOS
	# More info: <http://www.git-tower.com/blog/make-git-rebase-safe-on-osx/>
	trustctime = false

	# Prevent showing files whose names contain non-ASCII symbols as unversioned.
	# http://michael-kuehnel.de/git/2014/11/21/git-mac-osx-and-german-umlaute.html
	precomposeunicode = false

	# Speed up commands involving untracked files such as `git status`.
	# https://git-scm.com/docs/git-update-index#_untracked_cache
	untrackedCache = true

	# Default editor for commit messages and other inputs
    # Even when EDITOR is set to something else
	editor = vim
[color]
    # Use colors in Git commands that are capable of colored output when
    # outputting to the terminal. (This is the default setting in Git ≥ 1.8.4.)
	ui = auto
[help]
    # Automatically correct and execute mistyped commands
	autocorrect = 0
[merge]
	# Include summaries of merged commits in newly created merge commit messages
	log = true
[push]
	# https://git-scm.com/docs/git-config#Documentation/git-config.txt-pushdefault
	default = simple
[include]
	path = ~/.gitconfig.local

# URL shorthands
[url "git@github.com:"]
	insteadOf = "gh:"
	pushInsteadOf = "github:"
	pushInsteadOf = "git://github.com/"

[url "git://github.com/"]
	insteadOf = "github:"

[url "git@gist.github.com:"]
	insteadOf = "gst:"
    pushInsteadOf = "gist:"
	pushInsteadOf = "git://gist.github.com/"

[url "git://gist.github.com/"]
	insteadOf = "gist:"

[url "ssh://git@github.com/"]
   insteadOf = https://github.com/
